*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(166, 30, 196);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(186, 19, 19, 0.1),-5px -5px 15px rgba(52, 19, 143, 0.402);
    background: rgba(217, 110, 197, 0.395);
    font-size: 20px;
    color: #111111;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background: rgba(204, 100, 215, 0.689);
    border-radius: 10px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
    color: #ffffffd6;
}

form input.operator{
    color: #ffffffd6;
}